@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Nunito', sans-serif;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#hero {
    background-image: url(image/bg1.jpg)
}